AppFatureClient/Service References/wsContrato/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Soma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SomaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNow">
        <s:complexType />
      </s:element>
      <s:element name="GetNowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNowResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractResult" type="tns:ArrayOfContrato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContrato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contrato" nillable="true" type="tns:Contrato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contrato">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDPRODUTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDPROCESSO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QUANTIDADE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="VALIDADE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPLEMENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SomaSoapIn">
    <wsdl:part name="parameters" element="tns:Soma" />
  </wsdl:message>
  <wsdl:message name="SomaSoapOut">
    <wsdl:part name="parameters" element="tns:SomaResponse" />
  </wsdl:message>
  <wsdl:message name="GetNowSoapIn">
    <wsdl:part name="parameters" element="tns:GetNow" />
  </wsdl:message>
  <wsdl:message name="GetNowSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractSoapIn">
    <wsdl:part name="parameters" element="tns:GetContract" />
  </wsdl:message>
  <wsdl:message name="GetContractSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <wsdl:input message="tns:SomaSoapIn" />
      <wsdl:output message="tns:SomaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNow">
      <wsdl:input message="tns:GetNowSoapIn" />
      <wsdl:output message="tns:GetNowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <wsdl:input message="tns:GetContractSoapIn" />
      <wsdl:output message="tns:GetContractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap:operation soapAction="http://tempuri.org/Soma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNow">
      <soap:operation soapAction="http://tempuri.org/GetNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <soap:operation soapAction="http://tempuri.org/GetContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap12:operation soapAction="http://tempuri.org/Soma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNow">
      <soap12:operation soapAction="http://tempuri.org/GetNow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContract">
      <soap12:operation soapAction="http://tempuri.org/GetContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://appsoftware.com.br.negox.com/contrato/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://appsoftware.com.br.negox.com/contrato/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>